@import "vars-mixins/_vars.scss";
@import "vars-mixins/_mixins.scss";
@import "global/_buttons.scss";
@import "global/_effect-coeur.scss";
@import "global/_effect-fadein.scss";
@import "global/_footer.scss";
@import "global/_header.scss";
@import "menus/_bg-images.scss";
@import "menus/_block-plat.scss";
@import "menus/_titres.scss";
@import "accueil/_loading.scss";
@import "accueil/_block-lieux.scss";
@import "accueil/_block-fonctionnement.scss";
@import "accueil/_block-restaurants.scss";
@import "accueil/_block-reserver.scss";
body {
    margin: 0;
    background-color: $light-grey;
    font-family: "Raleway", sans-serif;
}

main {
    padding: 0;

}

.global-padding {
    padding: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: $text-color;
}