.block-lieux {
  padding: 13px 0;
  background-color: $shadow-color;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    padding-right: 10px;
  }
  span {
    font-size: 15px;
    font-weight: 500;
    padding-left: 10px;
  }
}
