header {
    background-color: $light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    a {
        height: 30px;
        width: 30px;
        display: block;
    }
    img {
        height: 35px;
    }
}