.bg-a-la-francaise {
    background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.bg-le-delice-des-sens {
    background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.bg-la-note-enchantee {
    background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.bg-la-palette-du-gout {
    background-image: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.bg-image-position {
    background-position: center center;
}

