@import "../vars-mixins/_mixins.scss";
.block-plat {
  padding: 0;
  margin: 0;
  h2 {
    margin: 0 0 15px 0;
    padding-top: 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, $tertiary 40px, transparent 40px) 1;
    &:first-child {
      padding-top: 0;
    }
  }
  ul {
    li {
      @include block-shadow-and-border;
      margin-bottom: 13px;
      a {
        position: relative;
        padding: 0;
        display: flex;
        justify-content: space-between;
        .container {
          display: flex;
          flex-direction: column;
          padding: 10px 15px;
          width: 100%;
          div:first-child {
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 5px;
            white-space: nowrap;
            max-width: calc(100vw - 130px);
            text-overflow: ellipsis;
            overflow: hidden;
          }
          div:last-child {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            span {
              &:first-child {
                white-space: nowrap;
                max-width: calc(100vw - 170px);
                text-overflow: ellipsis;
                overflow: hidden;
              }
              &:last-child {
                font-weight: 500;
              }
            }
          }
        }
        .menu-check-ligne {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $tertiary;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          opacity: 0;
          width: 0;
          overflow: hidden;
          transition: all 0.5s ease-in-out;
          i {
            color: #ffffff;
            font-size: 22px;
          }
        }

        &:hover .menu-check-ligne {
          opacity: 1;
          width: 70px;
          i {
            animation: spin 0.25s linear;
            animation-delay: 0.25s;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
