
@media screen and (min-width: 768px) {
    main.menus{
        display: flex;
    }
    div.block-plat {
        flex: 1 1 auto;
    }
    div.commander{
        max-height: 65px;
        min-width: 300px;
        justify-content: center;
    }
}